div {
    background-color: #afafaf;
    border-radius: 10px;
    border: 1px solid black;
    width: 700px;
    height: 400px;
    display: flex;
    align-items: flex-start;    
}

.verde {
    background-color: #27e127;
    border-radius: 10px;
    border: 1px solid black;
}
.azul {
    background-color: #228efb;
    border-radius: 10px;
    border: 1px solid black;
}
.vermelho {
    background-color: #f72020;
    border-radius: 10px;
    border: 1px solid black;
}

li {
    background-color: #e8e7e8;
    width: 80px;
    border-radius: 10px;
    margin: 8px;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}